<link rel="stylesheet" href="/css/HomePageStyle.css" />
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

<%- include ("./partials/header"); %>

<div class="introText">
    <div class="center1">
        Our Inventory
    </div>
</div>

<div class="ProductContainer">
    <div class="ProductRow">
        <div class="ProductHolder">
            <div class="ProductImageSlot">
                <img src="/images/Yeezy1.png"></img>
            </div>
            <div class="ProductDescriptionSlot">
                <div class="ProductSlotBox">
                    <h1>Yeezy Boost 350 V2</h1>
                    <div class="sectionTitleLine"></div>
                    <h2>$2000.00</h2>
                </div>
                <div class="ProductSlotBoxAdd">
                    <button type="addToCart" class="AddButton" id="add">Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="ProductHolder">
            <div class="ProductImageSlot">
                <img src="/images/Yeezy2.png"></img>
            </div>
            <div class="ProductDescriptionSlot">
                <div class="ProductSlotBox">
                    <h1>Yeezy Boost 350 V2</h1>
                    <div class="sectionTitleLine"></div>
                    <h2>$2000.00</h2>
                </div>
                <div class="ProductSlotBoxAdd">
                    <button type="addToCart" class="AddButton" id="add1">Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="ProductHolder">
            <div class="ProductImageSlot">
                <img src="/images/Yeezy3.png"></img>
            </div>
            <div class="ProductDescriptionSlot">
                <div class="ProductSlotBox">
                    <h1>Yeezy Bost 700</h1>
                    <div class="sectionTitleLine"></div>
                    <h2>$2000.00</h2>
                </div>
                <div class="ProductSlotBoxAdd">
                    <button type="addToCart" class="AddButton" id="add2">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="ProductRow">
        <div class="ProductHolder">
            <div class="ProductImageSlot">
                <img src="/images/Yeezy4.png"></img>
            </div>
            <div class="ProductDescriptionSlot">
                <div class="ProductSlotBox">
                    <h1>Yeezy Boost 350 V2</h1>
                    <div class="sectionTitleLine"></div>
                    <h2>$2000.00</h2>
                </div>
                <div class="ProductSlotBoxAdd">
                    <button type="addToCart" class="AddButton" id="add4">Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="ProductHolder">
            <div class="ProductImageSlot">
                <img src="/images/Yeezy5.png"></img>
            </div>
            <div class="ProductDescriptionSlot">
                <div class="ProductSlotBox">
                    <h1>Yeezy Boost 350 V2</h1>
                    <div class="sectionTitleLine"></div>
                    <h2>$2000.00</h2>
                </div>
                <div class="ProductSlotBoxAdd">
                    <button type="addToCart" class="AddButton" id="add5">Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="ProductHolder">
            <div class="ProductImageSlot">
                <img src="/images/Yeezy6.png"></img>
            </div>
            <div class="ProductDescriptionSlot">
                <div class="ProductSlotBox">
                    <h1>Yeezy Boost 350 V2</h1>
                    <div class="sectionTitleLine"></div>
                    <h2>$2000.00</h2>
                </div>
                <div class="ProductSlotBoxAdd">
                    <button type="addToCart" class="AddButton" id="add6">Add To Cart</button>
                </div>
            </div>
        </div>
</div>


    <div class="buttonHolder">
        <div class="center2">
            <button type="checkOut" class="CheckOutButton"> Check Out Now</button>
        </div>
    </div>

<%- include ("./partials/header"); %>

<script src="/script/script.js"></script>